In [4]:
import sqlite3 as lite
import sys

In [2]:
int(False)

0

In [5]:
con = lite.connect('db.sqlite3')

# Узнать количество записей в таблице

In [9]:
with con:    
    cur = con.cursor()    
    cur.execute("SELECT count(*) FROM Admins")  
    rows = cur.fetchall()

In [12]:
rows[0][0]

2

# Переименование таблицы

In [48]:
with con:
    cur = con.cursor()    
    cur.execute("ALTER TABLE estimator_admins RENAME TO Admins")
    con.commit()

# Вывод таблиц

In [166]:

Second_Name = 'Синев'
Name = 'Иван'
Last_Name = 'Олегович'
Day = 20
Month = '03'
Year = 1954
birth = "-".join([str(Year), Month, str(Day)])
birth = birth.replace("-", ".")

In [170]:
a, b = birth.split(".")[0], birth.split(".")[2],

In [176]:
int(False)

0

In [174]:
".".join([birth.split(".")[2], birth.split(".")[1], birth.split(".")[0]])

'20.03.1954'

In [169]:
birth

'1954.03.20'

In [126]:
int(birth.split("-")[0])

1974

In [158]:
with con:
    cur = con.cursor()    
    cur.execute("Select * FROM Bureau_of_Credit_Histories WHERE first_name=? and second_Name=? and third_name=? and birth=?", [Name, Second_Name, Last_Name, birth])         
    rows = cur.fetchall()

In [159]:
len(rows)

1

In [20]:
with con:    
    cur = con.cursor()    
    #cur.execute("SELECT * FROM Bureau_of_Credit_Histories WHERE id=?", ['7570'])  
    #cur.execute("Select * FROM Bureau_of_Credit_Histories WHERE first_name=? and second_Name=? and third_name=? and birth=?", [Name, Second_Name, Last_Name, birth])
    #cur.execute("select * from sqlite_master where type = 'table'")
    cur.execute("SELECT * FROM estimator_data")  
    rows = cur.fetchall()

In [21]:
rows[10001]

(10001, 1, 200000, 30, 400000, 36, 56, 2, 0, 0)

In [178]:
pd.DataFrame(rows).head()

,0,1,2,3,4
0,table,django_migrations,django_migrations,2,"CREATE TABLE ""django_migrations"" (""id"" integer..."
1,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"
2,table,auth_group,auth_group,10,"CREATE TABLE ""auth_group"" (""id"" integer NOT NU..."
3,table,auth_group_permissions,auth_group_permissions,12,"CREATE TABLE ""auth_group_permissions"" (""id"" in..."
4,table,auth_user_groups,auth_user_groups,17,"CREATE TABLE ""auth_user_groups"" (""id"" integer ..."

In [7]:
context_dict = {'categories': rows}

In [20]:
with con:

    cur = con.cursor()    
    cur.execute("SELECT count(*) FROM Clients")  
    rows = cur.fetchall()

In [21]:
rows[0][0]

0

In [8]:
context_dict

{'categories': [(1, 'tigra', '645213'), (2, 'admin1', 'qwerty')]}

In [41]:
b = 0

for i in range(len(rows)):
    if log == rows[i][1] and password == rows[i][2]:
        b = 1
        
if b: 
    print ("sasha")

sasha

In [28]:
rows[0][1]

'tigra'

In [192]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

def Classifier(test):
    data = pd.read_csv('complete.csv', sep=',', header=None)
    RFClassifier = RandomForestClassifier(n_estimators=500)
    
    y = data[1]
    data.drop([0, 1], axis=1, inplace=True)
    
    RFClassifier.fit(data, y)
    return RFClassifier.predict(test)[0]

In [193]:
a = Classifier([66000, 32, 76000, 30, 240, rows[0][5], rows[0][6], rows[0][7]])
print (a)

C:\Users\Sasha\Anaconda3\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

1

In [152]:
rows

[(6164, 'Очеретная', 'Анна', 'Андреевна', '09.03.1975', 3, 1, 1)]

# Создать таблицу

In [118]:
with con:
    cur = con.cursor()    
    cur.execute("CREATE TABLE Bureau_of_Credit_Histories(Id INTEGER PRIMARY KEY, second_name VARCHAR(30), first_name VARCHAR(30), third_name VARCHAR(30), birth DATE, history INTEGER, current INTEGER, outstanding INTEGER)")    
    con.commit()

In [12]:
with con:
    cur = con.cursor()    
    cur.execute("CREATE TABLE Admins(Id INTEGER PRIMARY KEY, name VARCHAR(30), password VARCHAR(30))")    
    con.commit()

In [27]:
with con:
    cur = con.cursor()    
    cur.execute("CREATE TABLE Clients(Id INTEGER PRIMARY KEY, result BOOLEAN, second_name VARCHAR(30), first_name VARCHAR(30), third_name VARCHAR(30), birth DATE, email VARCHAR(50), salary INTEGER, childrens INTEGER, experience INTEGER, amount_of_credit INTEGER, payout_period INTEGER, credits_history INTEGER, number_of_current_credits INTEGER, number_of_outstanding_credits INTEGER, created_date DATE, published_date DATE)")    
    con.commit()

In [248]:
with con:
    cur = con.cursor()    
    cur.execute("CREATE TABLE estimator_data(Id INTEGER PRIMARY KEY, result bit, salary INTEGER, age INTEGER, amount_of_credit INTEGER, payout_period INTEGER, experience INTEGER, credits_history INTEGER, number_of_current_credits INTEGER, number_of_outstanding_credits INTEGER)")    
    con.commit()

# Удалить таблицу

In [245]:
with con:
    cur = con.cursor()    
    cur.execute("DROP TABLE estimator_data")    
    con.commit()

In [257]:
with con:
    cur = con.cursor()    
    cur.execute("DELETE FROM estimator_data ")    
    con.commit()

# Запись в таблицу

In [113]:
file_obj = open('BOCH.txt', 'r')
data = list(file_obj)

for i in range(len(data)):
    data[i] = data[i].split()

In [130]:
for i in range(len(data)):
    if i > 8526:
        with con:
            cur = con.cursor()    
            cur.execute("insert into Bureau_of_Credit_Histories(Id, second_name, first_name, third_name, birth, history, current, outstanding) values (?,?,?,?,?,?,?,?)", data[i])  
            con.commit()

In [34]:
log = 'admin1'
password = 'qwerty'

In [22]:
with con:
    cur = con.cursor()
    cur.execute("select * from estimator_data")
    rows = cur.fetchall()

In [19]:
with con:
cur = con.cursor()    
    cur.execute("insert into estimator_data(Id, result, salary, age, amount_of_credit, payout_period, experience, credits_history, number_of_current_credits, number_of_outstanding_credits) values (?,?,?,?,?,?,?,?,?,?)", 
    [len(rows)+1, int(result), salary, age, amount_of_credit, payout_period, experience, credits_history, number_of_current_credits, number_of_outstanding_credits])  
    con.commit()

In [134]:
len(rows)

9704

In [30]:
import pandas as pd

In [251]:
data = pd.read_csv('complete.csv', sep=',', header=None)
data.head()

   0  1         2     3         4   5    6    7    8    9
0  0  1   36000.0  32.0  276000.0  30  240  3.0  1.0  0.0
1  1  0   38000.0  35.0  631000.0  24   84  2.0  1.0  1.0
2  2  1  141000.0  61.0  645000.0  60   36  3.0  1.0  0.0
3  3  1  102000.0  24.0  442000.0  30  258  2.0  0.0  0.0
4  4  1   80000.0  51.0  182000.0  54   60  4.0  0.0  0.0

In [114]:
rows[3665]

(3665, 1, 34000, 36, 142000, 12, 186, 4, 1, 0)

In [260]:
for i in range(len(data)):
    with con:
        cur = con.cursor()    
        cur.execute("insert into estimator_data(Id, result, salary, age, amount_of_credit, payout_period, experience, credits_history, number_of_current_credits, number_of_outstanding_credits) values (?,?,?,?,?,?,?,?,?,?)", list(data.loc[i]))  
        con.commit()

In [109]:
len()

[1.0, 0.0, 38000.0, 35.0, 631000.0, 24.0, 84.0, 2.0, 1.0, 1.0]

# Вывод результата

In [18]:
with con:    
    cur = con.cursor()    
    cur.execute("SELECT * FROM Admins")
    rows = cur.fetchall()

In [19]:
rows

[(1, 'tigra', '645213')]

In [42]:
a = 0

In [43]:
def b():
    a = 1

In [44]:
b 
print (a)

0

In [200]:

Second_Name = 'Синев'
Name = 'Иван'
Last_Name = 'Олегович'
birth = '1954-03-20'
birth = ".".join([str(birth).split("-")[2], str(birth).split("-")[1], str(birth).split("-")[0]])

In [201]:
birth

'20.03.1954'

In [202]:
with con:
    cur = con.cursor()    
    cur.execute("Select * FROM Bureau_of_Credit_Histories WHERE first_name=? and second_Name=? and third_name=? and birth=?", [Name, Second_Name, Last_Name, birth])         
    rows = cur.fetchall()

In [203]:
rows

[(7573, 'Синев', 'Иван', 'Олегович', '20.03.1954', 1, 0, 1)]

In [207]:
a = Classifier([66000, 32, 76000, 30, 240, rows[0][5], rows[0][6], rows[0][7]])

C:\Users\Sasha\Anaconda3\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

In [261]:
with con:    
    cur = con.cursor()    
    cur.execute("SELECT * FROM estimator_data")  
    rows = cur.fetchall()

In [264]:
rows[10000-1]

(9999, 1, 31000, 37, 165000, 48, 30, 2, 0, 0)

In [235]:
with con:
    cur = con.cursor()    
    cur.execute("ALTER TABLE estimator_data MODIFY result TYPE INTEGER")  
    con.commit()

OperationalError: near "MODIFY": syntax error